// Primary
$primary-1: #282828;
$primary-2: #ffffff;
$primary-3: #d2461c;
$primary-4: #afafaf;
$primary-5: #ffcdbe;

// Neutral
$neutral-100: #f8f9fa;
$neutral-200: #e9ecef;
$neutral-300: #dee2e6;
$neutral-400: #ced4da;
$neutral-500: #adb5bd;
$neutral-600: #6c757d;
$neutral-700: #495057;
$neutral-800: #495057;
$neutral-900: #212529;

// Status
$status-acive: #cdecde;
$status-expire: #e8e9eb;
$status-alert: #ff4040;
