@mixin font-face($font-family, $font-weight, $font-style, $src) {
  @font-face {
    font-family: #{$font-family};
    font-weight: #{$font-weight};
    font-style: #{$font-style};
    src: url(#{$src}) format("opentype");
  }
}

@include font-face(
  "Brandon Grotesque",
  normal,
  normal,
  "../fonts/brandon-grotesque-font-family/brandon-grotesque-black.otf"
);
@include font-face(
  "Brandon Grotesque",
  bold,
  italic,
  "../fonts/brandon-grotesque-font-family/brandon-grotesque-bold-italic.otf"
);
@include font-face(
  "Brandon Grotesque",
  light,
  normal,
  "../fonts/brandon-grotesque-font-family/brandon-grotesque-light.otf"
);
@include font-face(
  "Brandon Grotesque",
  light,
  italic,
  "../fonts/brandon-grotesque-font-family/brandon-grotesque-light-italic.otf"
);
@include font-face(
  "Brandon Grotesque",
  medium,
  italic,
  "../fonts/brandon-grotesque-font-family/brandon-grotesque-medium-italic.otf"
);
@include font-face(
  "Brandon Grotesque",
  regular,
  italic,
  "../fonts/brandon-grotesque-font-family/brandon-grotesque-regular-italic.otf"
);
@include font-face(
  "Brandon Grotesque",
  thin,
  italic,
  "../fonts/brandon-grotesque-font-family/brandon-grotesque-thin-italic.otf"
);
