@import "../fonts";
@import "../colors";
@import "../buttons";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: $primary-1;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 30rem;
}

h1 {
    font-size: 3rem;
}


span {
    color: $primary-3;
}

button,
p {
    margin: 1rem 0 0 0;
}

.small-primary-btn {
    width: 20rem;
}

input {
    border: none;
    border-bottom: 1px solid;
    width: 20rem;
}

input:active,
input:focus {
    outline: none;
    border-color: $primary-3;
}


.bi-x {
    position: absolute;
    transform: scale(300%);
    top: 2rem;
    right: 3rem;
}